{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstap.min.js' %}"></script>
  <title>Calender Menu ShoppingList</title>
</head>
<body >
    <!-- <nav class="navbar" style="background-color: #cb99c5;"    >     -->
        <!-- <nav class="navbar navbar-dark bg-primary"> -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <h3 style="color:aliceblue">Tod</h3>
        <a class="navbar-brand" href="{% url 'home' %}">CalenderMenu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Today</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'myitem_list' %}">Grocery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mymenu' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mymenu_list' %}">MenuList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mymenu_list' %}">장보기리스트</a>
            </li>
        </ul>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <!-- {% if user.is_authenticated %}
        안녕하세요, {{ user.username }}님!<br/>
        <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
        
        <a href="{% url 'login' %}">로그인</a>
        {% endif %} -->        
        </div>
    </div>
</nav>
 

  <div class="container">
  <br>
    

    {% block content %}

    {% endblock %}
    
  </div> 
</body>
</html>